<footer class="footer text-center bg-dark text-white py-4">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <h5>About Us</h5>
                <p>Learn more about our mission and values.</p>
            </div>
            <div class="col-md-3">
                <h5>Our Services</h5>
                <p>Fire Hydrant System</p>
                <p>Fire Sprinkler System Addressable & Conventional</p>
                <p>Fire Detection System</p>
                <p>Fire Extinguisher</p>
                <p>Fire Suppression System</p>
                <p>Fire Retardant Door</p>
                <p>AMC of all System</p>
            </div>
            <div class="col-md-3">
                <h5>Contact Us</h5>
                <p>F.N. 502, B Wing, Shankrahi Appt.,<br> New Sangvi, Pune - 411 027.</p>
                <p>Phone: 9890033996</p>
                <p>Email: <a href="mailto:ikshitcamfire101@gmail.com" class="text-white">ikshitcamfire101&#64;gmail.com</a></p>
            </div>
            <div class="col-md-3">
                <h5>Follow Us</h5>
                <p>
                    <a href="#" class="text-white me-3"><fa-icon [icon]="fa.faFacebook" class="fs-2"></fa-icon></a>
                    <a href="#" class="text-white me-3"><fa-icon [icon]="fa.faInstagram" class="fs-2"></fa-icon></a>
                    <a href="#" class="text-white me-3"><fa-icon [icon]="fa.faTwitter" class="fs-2"></fa-icon></a>
                    <a href="#" class="text-white"><fa-icon [icon]="fa.faLinkedin" class="fs-2"></fa-icon></a>
                </p>
            </div>
        </div>
    </div>
</footer>